*{  box-sizing: border-box;
    padding:7px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    max-width: 130;
    max-height: 1211;
    background-color: transparent;
}
.logo{
    width: 80px;
}
.barraP{
    height: 3.1rem;
}
.btn-Pesquisar{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: none;
}
#barraP1{
    border-radius: 2px;
    width: 300px;
    margin-left: 25px;
}
#barraP2{
    width: 300px;
}
.container {
    display: flex;   
    align-items: center;
}
.menu-Main{
display: flex;
justify-content: space-between;
}
.menu-Main a {
    text-decoration: none;

}
.menu-Main a p{
    color: white;
    font-size: 0.9rem;
    text-align: center;
}
.menu-Main a span{
    border-style: inset;
    color: white;
    border: none;
    font-size: 1rem;
}
#span1{
    cursor: pointer;
    background-color: black;
    transition-delay: 0.1s;

}
#span2{
    cursor: pointer;
    border: 20px 10px 20px 10px;
    background-color: red;
    border-radius: 7px;
}
#span1:hover{
    transition: 0.5ms;
    background-color: bisque;
}

body{
    background-image:url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/fa8d73b85ad8/assets/img/home/hero_photos/J4bBEXXBIHmYLl50X1l72g.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: 100%; 
}
    
div h1{
    text-align: center;
    color: white;
    font-size: 48px;
    line-height:400px;
}